.search-input{
    width: var(--button-width-large); 
	height: 3rem;
	border: none;
	border-radius: 15px;
	outline: none;
	font-size: var(--font-weight-1);
	font-weight: bold;
	padding: 0 1.5vmin;
    -webkit-appearance: none;



	box-shadow: var(--inner-shadow);
	background: var(--primary-color-1);
	color: var(--primary);
	caret-color: var(--primary);
    margin: 15px; 


}   
.search-input:hover{
    color: #212529;
    outline: 0;
}
 .search-input:focus{
    color: #212529;
    border-color: #86b7fe;
    outline: 0;
}

.update-search-list-initial-items{
    display: flex; 
    flex-direction: column;
}

.input-items{
        width: var(--width-size-1); 
        margin: 0 auto; 
        text-align: center;
        -webkit-appearance: none;



}

.initial-search-list{
    margin-top:0;
    list-style-type: none;
    padding-left:0;
  width: 100%;
    text-align: center;


}
.initial-search-list-item{
    transition: all 0.2s linear 0s;
    /* height: 5rem;  */
    padding: 15px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color-1);
    border-radius: 5px;
    margin: 25px; 
    border: 1px solid transparent; 

    box-shadow:var( --inner-shadow);
}
.initial-search-list-item:hover{
  cursor: pointer;
transform: scale(1.05);   opacity: .7; 


}
.selected-out{
      box-shadow:var(--hover-shadow)
}

.updated-search-list{
    width: var(--width-size-1); 
    margin: 0 auto; 
    padding-left:0;
    text-align: center;
}
.updated-search-list-items{
    display: flex; 
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.updated-search-list-items-input{

}
.updated-search-list-item{
    display:flex;
    margin-bottom: 10px;
 

}
.updated-search-list-item > p{
    min-width: 86px; 
    text-align: center;
}

.alert {
    margin-top: 12px; 
    /* width: var(--width-size-1); */
    padding: 12px 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 12px;
    font-size: var(--font-size-2)
  }
  
.alert-danger {
    color:black!important;
    background-color: var( --color-red-light);
     border-color: rgba(220, 53, 69, 1);
    color: rgba(114, 28, 36,1);
  }
 .alert-success {
    background-color: rgba(227, 253, 235, 1);
    border-color: rgba(38, 179, 3, 1);
    color: rgba(60, 118, 61, 1);
  }
  .declines{
      /* text-align: left !important; */
      font-weight: 700;
      width: 136px;
  }
  .success-icon {
    border-color: rgba(38, 179, 3, 1);
    color: rgba(60, 118, 61, 1);
    height: 100%;
  }