.half{
    width: 50%; 
    display: flex; 
    flex-direction: column;   
}
.create-form-container{
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.create-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}
.create-form-item{
    text-align: right;
    display:flex; 
    margin-right: 5px; 
    justify-content: center;
}
.create-form-item > p {
 width: 30%; 
 margin-right: 10px;
}
.create-form-item > input {
    width: 30%; 
   }
