.submit-btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
	font-size:var(--font-size-sm); 
    line-height: 1;
	border-radius: 15px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: var(--black);
    background-color:var(--primary-color-1);
    box-shadow: var(--shadow)
}
.selected{
    box-shadow: var(--inner-shadow)!IMPORTANT; 

}
.disabled{
    background-color:  rgba(114, 28, 36,1)!important; 
    color: white !important; 
    ;

}
.disabled:hover{
    background-color:  rgb(155, 72, 81)!important
    ;
}

.save-btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
	border-radius: 15px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: var(--black);
    margin : 15px;
    background-color: var(--primary-color-1);
    box-shadow: var(--shadow); 
    

}
.submit-btn:hover , .save-btn:hover{
    transition: all .2s ease-out;
    transform: scale(1.05); 
    box-shadow:var(--hover-shadow)
 
      
}

.submit-btn:focus, .save-btn:focus{
    box-shadow:var(--inner-shadow-2)

}
.btn-container{
    display: flex; 
    justify-content: center;
    margin-left: 40px; 
}

.confirm-btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
	border-radius: 15px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    margin-right: 15px;
    
    box-shadow:var(--hover-shadow)

}
.confirm-btn:hover{
    transform: scale(1.05);  
     opacity: .7; 

}
.yes{
    background-color: #84a59d !important;
    color:white; 

}
.no{
    background-color:   rgb(155, 72, 81);

}
.item{
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    outline: none;
    border: 1px solid transparent;
	border-radius: 15px;
    color:white;
    width: 40px; 
    box-shadow:var(--shadow)

}
.item:hover{
    cursor: pointer;

    transform: scale(1.05);  


}
.plus{
    background-color: #84a59d;

}

.minus{
    background-color:   rgb(155, 72, 81);


}